@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic|Titillium+Web:400,900,700italic,700,600italic,600,400italic,300italic,300,200italic,200&subset=latin,latin-ext);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#outdated {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10000;
  letter-spacing: 1px;
  display: none;
  background-color: #f2b635;
  color: #fff; }
  #outdated .outdatedbrowser-header {
    position: absolute;
    z-index: 1;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 19px; }
    #outdated .outdatedbrowser-header #outdatedbrowser-close {
      font-size: 40px;
      z-index: 20;
      text-decoration: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 70px;
      height: 70px;
      line-height: 70px;
      color: #fff; }
    #outdated .outdatedbrowser-header div {
      margin: 0 auto 2px;
      text-align: center;
      font-size: 19px;
      font-weight: 800; }
    #outdated .outdatedbrowser-header p {
      font-size: 12px;
      margin: 0 70px;
      text-align: center;
      font-weight: 300; }
    #outdated .outdatedbrowser-header:before {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      content: '';
      width: 100%;
      height: 100%; }
  #outdated .outdatedbrowser-blocks > div {
    width: 20.1%;
    height: 100%;
    position: absolute;
    background: red; }
    #outdated .outdatedbrowser-blocks > div > div {
      position: absolute;
      top: 35%;
      left: 0;
      width: 100%;
      height: 40%; }
      #outdated .outdatedbrowser-blocks > div > div span {
        display: block;
        position: relative;
        width: 100px;
        height: 100px;
        margin: 0 auto 35px;
        background-image: url(../img/browsers.png);
        background-repeat: no-repeat;
        background-size: auto 95px; }
      #outdated .outdatedbrowser-blocks > div > div div {
        text-align: center;
        font-size: 15px;
        font-size: 13px;
        margin: 0 10px; }
      #outdated .outdatedbrowser-blocks > div > div a {
        font-weight: 700;
        font-size: 10px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        box-sizing: border-box;
        border-radius: 16px;
        height: 30px;
        margin: 22px auto 0;
        display: block;
        text-align: center;
        line-height: 30px;
        background: #fff;
        color: #f2b635;
        width: 100px; }
    #outdated .outdatedbrowser-blocks > div.item-1 {
      left: 0;
      background: #f2b635; }
      #outdated .outdatedbrowser-blocks > div.item-1 a {
        color: #f2b635; }
    #outdated .outdatedbrowser-blocks > div.item-2 {
      left: 20%;
      background: #f19a2a; }
      #outdated .outdatedbrowser-blocks > div.item-2 > div > span {
        background-position: -100px 0; }
      #outdated .outdatedbrowser-blocks > div.item-2 a {
        color: #f19a2a; }
    #outdated .outdatedbrowser-blocks > div.item-3 {
      left: 40%;
      background: #00caff; }
      #outdated .outdatedbrowser-blocks > div.item-3 > div > span {
        background-position: -200px 0; }
      #outdated .outdatedbrowser-blocks > div.item-3 a {
        color: #00caff; }
    #outdated .outdatedbrowser-blocks > div.item-4 {
      left: 60%;
      background: #00a0e6; }
      #outdated .outdatedbrowser-blocks > div.item-4 > div > span {
        background-position: -300px 0; }
      #outdated .outdatedbrowser-blocks > div.item-4 a {
        color: #00a0e6; }
    #outdated .outdatedbrowser-blocks > div.item-5 {
      left: 80%;
      background: #f25648; }
      #outdated .outdatedbrowser-blocks > div.item-5 > div > span {
        background-position: -400px 0; }
      #outdated .outdatedbrowser-blocks > div.item-5 a {
        color: #f25648; }
    #outdated .outdatedbrowser-blocks > div:hover a {
      opacity: 1; }
  #outdated .outdatedbrowser-blocks.hover .item {
    width: 17%; }
    #outdated .outdatedbrowser-blocks.hover .item.item-2 {
      left: 17%; }
    #outdated .outdatedbrowser-blocks.hover .item:hover {
      width: 28%; }

@media (max-width: 900px) {
  #outdated .outdatedbrowser-blocks > div > div div {
    height: 30px; } }

@media (max-width: 768px) {
  #outdated {
    overflow: scroll; }
    #outdated .outdatedbrowser-header {
      position: relative; }
    #outdated .outdatedbrowser-blocks {
      position: static; }
      #outdated .outdatedbrowser-blocks > div {
        position: static;
        width: 100%;
        padding: 40px;
        box-sizing: border-box; }
        #outdated .outdatedbrowser-blocks > div > div {
          position: static; } }

/* all of the custom mixins */
/* IE specific mixins */
/* clearfix */
html, body {
  position: relative;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  color: #000;
  background: #fff; }

body {
  width: auto; }

a {
  color: #000;
  text-decoration: none;
  transition: all .3s; }

h1, h2, h3, h4 {
  font-family: PT Serif, serif;
  font-weight: 600; }

::-webkit-scrollbar {
  display: none; }

.design {
  left: -16px;
  top: 0;
  opacity: .5;
  position: absolute;
  z-index: 99; }

.wrapper {
  position: relative;
  border: solid 14px #1a171b; }

.container {
  width: 950px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 990px) {
    .container {
      width: 100%; } }

.top {
  padding-top: 45px; }

.logo {
  display: block;
  width: 185px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/logo.svg);
  background-size: contain;
  background-repeat: no-repeat; }

.top-stripe {
  margin-top: -6px; }
  .top-stripe::after {
    clear: both;
    content: "";
    display: table; }

.search {
  display: block;
  float: left; }

#searchvalue {
  border: solid 1px transparent;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 0px 2px;
  padding-left: 20px; }

.social {
  display: block;
  float: right;
  margin-right: -8px; }
  .social a {
    margin-top: 4px;
    width: 27px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: inline-block;
    color: transparent; }
    .social a.pinterest {
      background-image: url(../img/pinterest.svg); }
    .social a.twitter {
      background-image: url(../img/twitter.svg); }
    .social a.facebook {
      background-image: url(../img/facebook.svg); }
    .social a.instagram {
      background-image: url(../img/instagram.svg); }
    .social a.gplus {
      background-image: url(../img/gplus.svg); }
    .social a.email {
      background-image: url(../img/mail.svg); }

.nav {
  margin-top: 13px;
  border-bottom: solid 1px #1a171b; }
  .nav ul {
    white-space: nowrap;
    text-transform: uppercase;
    position: relative;
    width: 100%; }
    .nav ul li {
      display: inline-block;
      margin-right: 20px;
      padding-bottom: 4px; }
      .nav ul li:nth-last-child(1) {
        position: absolute;
        right: 0;
        margin-right: 0;
        top: 0; }
      .nav ul li a {
        padding: 0px 8px 0px 8px;
        color: #000; }
        .nav ul li a.active, .nav ul li a:hover {
          font-weight: 600;
          background-color: #1a171b;
          color: #fff; }
        .nav ul li a.member-nav {
          font-weight: 300;
          font-family: 'PT Serif', serif;
          font-style: italic;
          padding-right: 25px;
          background-image: url(../img/members.svg);
          background-repeat: no-repeat;
          background-position: 100% 100%;
          padding-bottom: 1px; }

.sub {
  padding: 11px 0 18px 0; }
  .sub a {
    display: inline-block;
    margin-right: 10px; }
    .sub a.active, .sub a:hover {
      font-weight: 600; }

.front-feat {
  margin-bottom: 45px; }
  .front-feat::after {
    clear: both;
    content: "";
    display: table; }
  .front-feat .front-feat-img {
    height: 630px;
    width: 100%;
    display: block;
    background-size: cover;
    background-position: 50% 50%; }
  .front-feat .front-feat-info {
    display: block;
    float: left;
    padding-left: 2px;
    padding-top: 15px; }
    .front-feat .front-feat-info h3 {
      display: block;
      float: left;
      color: #cea842;
      font-size: 15px; }
    .front-feat .front-feat-info .feat-author {
      margin-left: 16px;
      margin-right: 16px;
      display: block;
      float: left;
      padding-top: 4px;
      font-size: 11px; }
      .front-feat .front-feat-info .feat-author a {
        font-weight: 600; }
    .front-feat .front-feat-info .feat-view {
      display: block;
      float: left;
      padding-top: 4px;
      font-size: 11px;
      padding-left: 20px;
      background-image: url(../img/view.svg);
      background-repeat: no-repeat;
      background-position: 0% 50%;
      background-position: 0% 5px;
      font-weight: 700; }
  .front-feat .social {
    float: right;
    padding-top: 10px; }

.table-title {
  border-bottom: solid 1px #1a171b;
  display: block;
  width: 100%;
  margin-bottom: 15px; }
  .table-title::after {
    clear: both;
    content: "";
    display: table; }
  .table-title h4 {
    padding: 4px 35px 5px 10px;
    background-color: #1a171b;
    display: block;
    float: left;
    color: #fff;
    font-style: italic;
    font-weight: 500; }

.table-cont {
  margin-left: -21px;
  margin-right: -21px;
  margin-bottom: 6px; }
  .table-cont::after {
    clear: both;
    content: "";
    display: table; }

.table-block {
  display: block;
  float: left;
  margin-left: 21px;
  margin-right: 21px;
  padding-bottom: 38px; }
  .table-block .table-img {
    height: 128px;
    background-position: 50% 50%;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    width: 206px;
    margin-bottom: 8px; }
  .table-block .award {
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    text-align: center;
    padding-top: 6px;
    font-weight: 700;
    color: #fff;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-image: url(../img/award.svg); }
  .table-block .block-info {
    padding-left: 10px;
    display: block;
    float: left;
    max-width: 165px;
    font-size: 13px; }
    .table-block .block-info .author {
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 500; }
    .table-block .block-info .desc {
      padding-top: 4px;
      padding-bottom: 2px;
      color: #7b7c7e; }
    .table-block .block-info .portfolio {
      display: block;
      font-size: 11px;
      padding-top: 5px;
      padding-left: 20px;
      background-image: url(../img/view.svg);
      background-repeat: no-repeat;
      background-position: 0% 70%; }

.sitemap {
  padding-top: 22px;
  padding-bottom: 10px;
  text-align: center;
  background: #ececed;
  width: 100%; }
  .sitemap::after {
    clear: both;
    content: "";
    display: table; }
  .sitemap .links {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600; }
    .sitemap .links ul li {
      padding: 0 6px;
      display: inline; }
  .sitemap .social {
    padding: 14px 0;
    float: none; }

.keywords {
  font-size: 10px;
  padding: 11px 0;
  color: #000;
  font-weight: 600; }
  .keywords p {
    padding: 7px 0 8px 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased !important; }

/*# sourceMappingURL=style.css.map */