@import 'meyer-reset';
@import 'outdated';
@import 'newcode';
//@import 'compass';
//@import 'flexcode';
@import 'bourbon';
//@import 'fonts';
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic|Titillium+Web:400,900,700italic,700,600italic,600,400italic,300italic,300,200italic,200&subset=latin,latin-ext);
$grey: #7b7c7e;
$overlay: #ececed;
$dark: #1a171b;
$yellow: #cea842;
html,
body {
  position: relative;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  color: #000;
  background: #fff;
}

body {
  width: auto;
}

a {
  color: #000;
  text-decoration: none;
  transition: all .3s;
}

h1,
h2,
h3,
h4 {
  font-family: PT Serif, serif;
  font-weight: 600;
}

::-webkit-scrollbar {
  display: none;
}

.design {
  left: -16px;
  top: 0;
  opacity: .5;
  position: absolute;
  z-index: 99;
}

.wrapper {
//  height: 100%;
//  width: 100%;
  position: relative;
  border: solid 14px #1a171b;
}

.container {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  @include max(990px) {
    width: 100%;
  }
}

.top {
  padding-top: 45px;
}

.logo {
  display: block;
  //  display: none;
  width: 185px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.top-stripe {
  margin-top: -6px;
  //  // flexbox disable
  //  @include flexy;
  //  @include justify-content(space-between);
  // flexbox fallback
  @include clearfix;
}

// flexbox fallback
.search {
  display: block;
  float: left;
}

//
// inputs:
#searchvalue {
  border: solid 1px transparent;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 0px 2px;
  padding-left: 20px;
}

.social {
  // flexbox fallback
  display: block;
  float: right;
  //
  margin-right: -8px;
  a {
    margin-top: 4px;
    width: 27px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: inline-block;
    color: transparent;
    &.pinterest {
      background-image: url(../img/pinterest.svg);
    }
    &.twitter {
      background-image: url(../img/twitter.svg);
    }
    &.facebook {
      background-image: url(../img/facebook.svg);
    }
    &.instagram {
      background-image: url(../img/instagram.svg);
    }
    &.gplus {
      background-image: url(../img/gplus.svg);
    }
    &.email {
      background-image: url(../img/mail.svg);
    }
  }
}

.nav {
  margin-top: 13px;
  border-bottom: solid 1px $dark;
  ul {
    white-space: nowrap;
    text-transform: uppercase;
    position: relative;
    width: 100%;
    //    // flexbox disable
    //    @include flexy;
    //    @include justify-content(space-between);
    //    //
    li {
      // flexbox fallback
      display: inline-block;
      margin-right: 20px;
      padding-bottom: 4px;
      &:nth-last-child(1) {
        position: absolute;
        right: 0;
        margin-right: 0;
        top: 0
      }
      //
      a {
        padding: 0px 8px 0px 8px;
        color: #000;
        &.active, &:hover {
          font-weight: 600;
          background-color: $dark;
          color: #fff;
        }
        &.member-nav {
          font-weight: 300;
          font-family: 'PT Serif', serif;
          font-style: italic;
          padding-right: 25px;
          background-image: url(../img/members.svg);
          background-repeat: no-repeat;
          background-position: 100% 100%;
          padding-bottom: 1px;
        }
      }
    }
  }
}

.sub {
  padding: 11px 0 18px 0;
  a {
    display: inline-block;
    margin-right: 10px;
    &.active, &:hover {
      font-weight: 600;
    }
  }
}

.front-feat {
  @include clearfix;
  .front-feat-img {
    //    height: 60vh;
    height: 630px;
    width: 100%;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
  }
  .front-feat-info {
    display: block;
    float: left;
    padding-left: 2px;
    padding-top: 15px;
    h3 {
      display: block;
      float: left;
      color: $yellow;
      font-size: 15px;
    }
    .feat-author {
      margin-left: 16px;
      margin-right: 16px;
      display: block;
      float: left;
      padding-top: 4px;
      font-size: 11px;
      a {
        font-weight: 600;
      }
    }
    .feat-view {
      display: block;
      float: left;
      padding-top: 4px;
      font-size: 11px;
      padding-left: 20px;
      background-image: url(../img/view.svg);
      background-repeat: no-repeat;
      background-position: 0% 50%;
      background-position: 0% 5px;
      font-weight: 700
    }
  }
  .social {
    float: right;
    padding-top: 10px;
  }
  margin-bottom: 45px;
}

.top-table {}

.table-title {
  border-bottom: solid 1px $dark;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  @include clearfix;
  h4 {
    padding: 4px 35px 5px 10px;
    background-color: $dark;
    display: block;
    float: left;
    color: #fff;
    font-style: italic;
    font-weight: 500;
  }
}

.table-cont {
  //  // disable flexbox
  //  @include flexy;
  //  @include justify-content(space-between);
  //  @include flex-wrap(wrap);
  //  //
  margin-left: -21px;
  margin-right: -21px;
  margin-bottom: 6px;
  @include clearfix;
}

.table-block {
  // flexbox fallback
  display: block;
  float: left;
  //
  margin-left: 21px;
  margin-right: 21px;
  padding-bottom: 38px;
  .table-img {
    height: 128px;
    background-position: 50% 50%;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    width: 206px;
    margin-bottom: 8px
  }
  .award {
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    text-align: center;
    padding-top: 6px;
    font-weight: 700;
    color: #fff;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-image: url(../img/award.svg);
  }
  .block-info {
    padding-left: 10px;
    display: block;
    float: left;
    max-width: 165px;
    font-size: 13px;
    .author {
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 500;
    }
    .desc {
      padding-top: 4px;
      padding-bottom: 2px;
      color: #7b7c7e;
    }
    .location {}
    .portfolio {
      display: block;
      font-size: 11px;
      padding-top: 5px;
      padding-left: 20px;
      background-image: url(../img/view.svg);
      background-repeat: no-repeat;
      background-position: 0% 70%;
    }
  }
}

.sitemap {
  @include clearfix;
  padding-top: 22px;
  padding-bottom: 10px;
  text-align: center;
  background: #ececed;
  width: 100%;
  .links {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    ul {
      li {
        padding: 0 6px;
        display: inline;
      }
    }
  }
  .social {
    padding: 14px 0;
    // flexbox fallback
    float: none;
    //
  }
}

.keywords {
  font-size: 10px;
  //  font-size: 7pt;
  padding: 11px 0;
  color: #000;
  //  font-weight: bold;
  font-weight: 600;
  p {
    padding: 7px 0 8px 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased!important;
  }
}